/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.small-point-style {
    -fx-fill: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0.0%, #d9f0fc 49.0%, #bee6fd 50.0%, #a7d9f5 100.0%); 
}
.medium-point-style {
	-fx-fill: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0.0%, #f8c202 50.0%, #eea10b 100.0%),
        linear-gradient(from 0.0% 0.0% to 15.0% 50.0%, rgba(255.0,255.0,255.0,0.9), rgba(255.0,255.0,255.0,0.0));
}
.big-point-style{	
    -fx-fill:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #b8ee36 45.0%, #80c800 50.0%); 
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.4) , 5.0, 0.0 , 0.0 , 1.0 );
}
.first-player-style{
	-fx-fill: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0.0%, #d9d9d9 20.0%, #d6d6d6 100.0%),
        linear-gradient(#dddddd 0.0%, #f6f6f6 50.0%);
}
.second-player-style{
	-fx-fill:  
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0.0%, #f8c202 50.0%, #eea10b 100.0%),
        linear-gradient(from 0.0% 0.0% to 15.0% 50.0%, rgba(255.0,255.0,255.0,0.9), rgba(255.0,255.0,255.0,0.0));
}
.third-player-style{
	-fx-fill:             
      	linear-gradient(#ff5400, #be1d00);
}
.fourth-player-style{
	-fx-fill:  	
        #a6b5c9,
        linear-gradient(#303842 0.0%, #3e5577 20.0%, #375074 100.0%),
        linear-gradient(#768aa5 0.0%, #849cbb 5.0%, #5877a2 50.0%, #486a9a 51.0%, #4a6c9b 100.0%);
        
}

